
<form method="post" action="/createCharacter">
    Name:
    <input type="text" id ="name" name="name">
    <br>
    Class:
    <select name = "characterclass">
      <% for(c of classes){%> 
          <option value="<%= c.name %>"><%= c.name %></option>
      <% } %>
    </select>
    <br>
    Level:
    <input type="number" id = "level" name="level">
    <br>
    Race:
    <select name = "race">
        <% for(r of races){%> 
            <option value="<%= r.name %>"><%= r.name %></option>
        <% } %>
    </select>
    <br>
    str: <input type="number" id = "str" name="str">
    <br>
    dex: <input type="number" id = "dex" name="dex">
    <br>
    con: <input type="number" id = "con" name="con">
    <br>
    int: <input type="number" id = "int" name="int">
    <br>
    wis: <input type="number" id = "wis" name="wis">
    <br>
    cha: <input type="number" id = "cha" name="cha">
    <br />
    Backstory:
    <textarea id="backstory" name="backstory">insert backstory here.</textarea>
    <input type="submit" />
  </form>
  
  