TODO: Customize Index

    <p class="bg-info">An application for finding spells and creating characters in Dungeons and Dragons 5th edition.</p>
    <a href = /spellSearch>Search for spells</a>
    <br>
    <a href="/showSpellList">Show my saved spells</a>
    <br>
    <a href="/createCharacter">Create a new character</a>
    <br>
    <a href="/showCharacter">Show my characters</a>
    <br>
    