TODO: Customize Index

    <p class="bg-danger">Welcome to Ian's app</p>
    Here is my <a href="/bio">bio</a>
    <br>
    <a href = /spellSearch>Search for spells</a>
    <br>
    <a href="/showSpellList">Show spell list</a>
    <br>
    <a href="/createCharacter">Create a new character</a>
    <br>
    <a href="/showCharacter">Show my characters</a>
    <br>
    