
    <h2><p class="bg-info">An application for finding spells and creating characters in Dungeons and Dragons 5th edition.</p></h2>
    <h3><a href = /spellSearch>Search for spells</a></h3>
    <br>
    <h3><a href="/showSpellList">Show my saved spells</a></h3>
    <br>
    <h3><a href="/createCharacter">Create a new character</a></h3>
    <br>
    <h3><a href="/showCharacter">Show my characters</a></h3>
    <br>
    