<!--Currently can't actually get any information from the character object.-->
<h1><%= character.name %> </h1>
<br>
race: <%= character.race %>
<br>
class: <%= character.class %> <%= character.level %>